.modal-wrapper {
    /*width: 550px !important;*/
}


.modal-header, .modal-body {
    border: none;
    padding: 0.4rem 1.0rem;
}

.modal-header h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.modal-body-caption, .modal-body-caption button {
    font-size: 0.9rem;
}


.full-width {
    width: 100%;
}

.button-login {

}

.button-login:hover {
    background-color: #b40000;
    color: white;
    /*animation:;*/
}

.button-facebook-login {
    background-color: #4C76BE;
    color: white;
}

.button-facebook-login:hover {
    background-color: #384a9e;
}

.button-google-login {
    background-color: white;
    color: #191919;
}
