.app-carousel-container {
    width: 100%;
    height: 600px;
    position: relative;
}

.app-carousel-container__image {
    width: 100%;
    display: block;
}

.search-box-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 20vw;
}

.group-wrapper {
    position: relative;
    margin: 12rem 0;
    height: auto;
}

.action-box {
    position: absolute;
    left: 0;
    top: 0;
    background: #062249 0% 0% no-repeat padding-box;
    border-radius: 0px 10px 10px 0px;
    opacity: 1;
    min-height: 400px;
    width: 400px;
    padding-top: 5.0rem;

}

.action-box h3 {
    text-align: left;
    font: normal normal bold 30px/48px Avenir Next;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 60%;
    margin-left: 15%;
    line-height: 2rem;
}

.action-box p {
    text-align: left;
    color: #FFFFFF;
    opacity: 1;
    width: 60%;
    margin: 1.5rem 0 0 15%;
    font-size: 0.9rem;
}

.action-box button {
    margin: 1.3rem 0 0 15%;
    padding: 0.5rem 1rem;
    border: none;
    background: #F2A828 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
    color: white;
}

.featured-tutor {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
}

.featured-tutor h2 {
    color: #062249;
    font-weight: bold;
}

.featured-tutor-slide-container {
    width: 90%;
    margin: 0 auto;
}

.features-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 5rem 0 0;
    position: relative;
    width: 100%;
    right: 0;
    padding: 4rem 0 0 19rem;
}

.feature-card {
    width: 250px;
    height: auto;
    margin: 0.8rem;
    box-shadow: 0 2px 5px;
    border-radius: 10px;
}

.featured-topics {

}

.featured-topics * {
    color: #062249;
}

.featured-topics h2:first-child {
    font-weight: bold;
}

.featured-topics .subject-group {

}

.featured-topics .subject-group h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 1.5rem 0;
}

.featured-topics .subject-group > div {
    margin: 0 0 1.5rem 0;
}

.featured-topics .subject-group > div h4 {
    font-size: 1.2rem;
    margin: 0 0 .5rem 0;
}

.featured-topics .subject-group > div h4::before {
    content: '';
    width: 15px;
    height: 15px;
    /*transform: matrix(0, 1, -1, 0, 0, 0);*/
    /*background: #062249 0% 0% no-repeat padding-box;*/
    opacity: 1;
    /*margin: 0 0.5rem 0 0;*/
}

.featured-topics .subject-group > div span {
    font-size: 0.8rem;
    margin: 0 0 .5rem 0;
}

.steps {
    background: #062249 0% 0% no-repeat padding-box;
    border-radius: 0px 20px 20px 0px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 3rem;
}

.steps h3 {
    text-align: center;
    font: normal normal bold 30px/48px Avenir Next;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 60%;
    margin: 3rem 0;
}

.steps-item-group {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    margin-bottom: 4rem;
}

.alignment-correction {
    width: auto;
    margin: 0 6rem 0 4rem;
}

.steps-item-group div.intro-text p {
    max-width: 50%;
}

.steps-item-group h3 {
    text-align: left;
    margin: 0 0 0.8rem 0;
}

.steps-item-group img {
    height: 500px;
    width: auto;
}

.reasons {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.reasons h3 {
    font-weight: 600;
    color: #062249;
}

.reasons-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
    color: #062249;
}

.reasons-group-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    align-content: center;
    align-items: center;
    margin: 2rem;
}

.reasons-group-item h4 {
    font-size: 1.7rem;
    font-weight: 600;
}

.reasons-group-item p {
    text-align: center;
}

.reasons-group-item img {
    width: 80px;
    margin-bottom: 2rem;
}

.final {
    background: #062249 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;
    padding: 1.5rem 4rem;
}

.final h3 {
    font-weight: bold;
}

.final p {
    width: 90%;
}

.start-action-button {
    background-color: #b40000;
    border-radius: 18px;
    border: none;
    padding: 0.5rem 1.5rem;
    color: white;
}

.cap {
    position: absolute;
    top: -2.3rem;
    left: 15%;
}

.cap img {
    height: 320px;
}

@media screen and (min-width: 1660px) {
    .reasons-group {
        width: 100%;
    }
}
