.app-btn {
    width: 134px;
    height: 44px;
    /*padding: 20px;*/
    background: #062249 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000015;
    border: 1px solid #B2B2B258;
    border-radius: 30px;
    opacity: 1;
    color: #FFFFFF;
}
