.app-footer {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    border-top: 2px solid #062249;
    margin: 0;
    padding-top: 2rem;
}

.app-footer * {
    color: #062249;
}

.footer-about-section {
    flex: 40;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5% 1rem 5%;
    margin: 0;
}

.footer-about-section p {
    margin-left: 5.5rem;
    /*width: 60%;*/
}

.footer-links-section {
    flex: 60;
    display: flex;
    justify-content: space-between;
}

.footer-links-section div:first-child {
    flex: 70;
    max-height: 170px;
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
}

.footer-links-section div:first-child + div {
    flex: 30;
    max-height: 350px;
}

.footer-link {
    margin: 1rem 2rem 0 0;
    display: inline-block;
    text-align: left;
    width: 130px;
}

.footer-logo-wrapper {
    display: inline-block;
    width: 210px;
    height: 80px;
    background-color: transparent;
    position: relative;
    left: 0;
}
