.app-hero {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 450px;
}

.app-hero * {
    color: white;
}

.app-hero h2 {
    font-weight: bold;
    margin: 0 0 1.5rem 0;
}

.app-hero p {
    font-size: 0.9rem;
    margin: 0 0 1.3rem 0;
}
.button-color {
    background-color: #F2A828 !important;
}
