.navbar-container {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem 5%;
    /*padding: 0;*/
    height: 70px;
    width: 100%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin: 10px 0;
    z-index: 10;
}

.logo-wrapper {
    display: inline-block;
    width: 210px;
    height: 80px;
    background-color: transparent;
    position: relative;
    left: 0;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0;
}

.nav-content li {
    list-style: none;
    margin: 0 0.8rem;
    /*font-family: "Avenir Next", sans-serif;*/
    /*font-weight: 500;*/
    font: normal normal 400 18px/25px Avenir Next;
}

.nav-content a {
    color: #191919;
}

@media screen and (max-width: 425px) {
    .navbar-container {
        display: none;
    }
}
