.search-bar-container {
    height: 120px;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background: #062249 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    padding: 0 1.3rem;
    position: relative;
    left: 20vw;
    top: -3.5rem;
}

.search-bar-fields {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    align-content: center;
}

.input-group {
    position: relative;
}

.search-bar-fields input, .search-bar-fields select {
    border: none;
    padding: 0.9rem 1.5rem;
    border-radius: 10px;
    background-color: white;
}

.search-bar-fields input {
    flex: 70;
}

.search-bar-fields input:focus {
    border: 1px dashed gray;
    /*background-color: #191919;*/
}

.search-bar-fields select {
    flex: 30;
}

.search-bar-fields select:focus {
    border: 1px dashed gray;
}

.search-bar-fields__separator {
    flex: 1;
    width: 1px;
    background-color: rgba(170, 170, 170, 0.4);
}

.search-button {
    background-color: #F2A828;
    text-align: center;
    font: normal normal 500 18px/25px Avenir Next;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding: 0.9rem 1px;
    border: none;
    min-width: 8rem;
    border-radius: 10px;
}

@media screen and (max-width: 425px) {
    .search-bar-container {
        height: auto;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        border-radius: 20px;
        opacity: 1;
        padding: 0.5rem 1.3rem;
        position: relative;
        top: 0;
        left: 0;
    }

    .search-bar-fields {
        display: block;
        flex-flow: column;
        width: 100%;
        justify-content: flex-start;
        background-color: transparent;
        border-radius: 15px;
        margin: 0;
    }

    .search-bar-fields input, .search-bar-fields select {
        border: none;
        width: 100%;
        padding: 0.7rem 1.5rem;
        margin-bottom: 10px;
        border-radius: 10px;
        background-color: white;
        flex: 1;
    }

    .search-button {
        flex: 1;
    }

    .search-bar-fields__separator {
        display: none;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) and (max-width: 2560px) {

}


@media screen and (min-width: 1660px){
    .search-bar-container {
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        background: #062249 0% 0% no-repeat padding-box;
        border-radius: 20px;
        opacity: 1;
        padding: 0 1.3rem;
        position: relative;
        left: 20%;
        top: -3.5rem;
    }
}
