@font-face {
    font-family: 'Avenir Next';
    src: url("./assets/fonts/AvenirNextLTPro-Regular.otf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("./assets/fonts/AvenirNextLTPro-It.otf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Avenir Next';
    src: url("./assets/fonts/AvenirNextLTPro-Bold.otf");
    font-weight: 700;
    font-style: normal;
}

html, body {
    width: 100%;
    /*height: 100vh;*/
}

body {
    margin: 0;
    font-family: "Avenir Next", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.featured-tutor-card {
    width: 17rem !important;
    border-radius: 10px;
    /*margin-right: .5rem;*/
}

.featured-tutor-card__title {
    margin: 0;
    font-size: 1.2rem;
}

.featured-tutor-card__qualification {
    font-size: 0.9rem;
}

.featured-tutor-card__bio {
    font-size: 1.0rem;
}

.modal-content {
    width: 320px !important;
}

@media screen and (min-width: 1660px) {
    body {
        max-width: 1660px;
        margin: 0 auto;

        /*display: flex;*/
        /*justify-content: center;*/
    }

}
